#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMB 1
#define SYMB 2
#define SYS 3
#define NAVI 4


/ {
   behaviors {
      bhm: balanced_homerow_mods {
         compatible = "zmk,behavior-hold-tap";
         #binding-cells = <2>;
         tapping-term-ms = <200>;
         quick-tap-ms = <200>;
         flavor = "balanced";
         bindings = <&kp>, <&kp>;
      };
      
      lbhm: long_balanced_homerow_mods {
         compatible = "zmk,behavior-hold-tap";
         #binding-cells = <2>;
         tapping-term-ms = <250>;
         quick-tap-ms = <200>;
         require-prior-idle-ms = <100>;
         flavor = "balanced";
         bindings = <&kp>, <&kp>;
      };
      
      tt: tap_toggle {
         compatible = "zmk,behavior-hold-tap";
         #binding-cells = <2>;
         tapping-term-ms = <200>;
         quick-tap-ms = <0>;
         flavor = "balanced";
         bindings = <&mo>, <&tog>;
      };
      
      plt: permissive_layer_tap {
         compatible = "zmk,behavior-hold-tap";
         #binding-cells = <2>;
         tapping-term-ms = <200>;
         quick-tap-ms = <0>;
         flavor = "balanced";
         bindings = <&mo>, <&kp>;
      };
   };

   keymap {
      compatible = "zmk,keymap";

      default_layer {
         bindings = <
//╭────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────╮
   &kp TAB      &kp Q         &kp W         &kp E         &kp R         &kp T                    &kp Y         &kp U         &kp I         &kp O         &kp P     &kp BSPC
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &kp ESC  &lbhm LCTRL A  &bhm LALT S   &bhm LGUI D   &bhm LSHFT F      &kp G                    &kp H     &bhm RSHFT J   &bhm RGUI K   &bhm LALT L  &lbhm RCTRL SEMI &kp SQT
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &kp CAPS     &kp Z         &kp X         &kp C         &kp V         &kp B                    &kp N         &kp M       &kp COMMA       &kp DOT      &kp FSLH    &none
//╰────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ╰──────╯ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴────────╯
                                           &mo SYMB     &kp SPACE      &mo NAVI                 &kp RET      &mo NUMB       &mo SYS 
//                                     ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯                                           
         >;
      };
      numb {
         bindings = <
//╭────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────╮
   &none       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                   &kp N6         &kp N7       &kp N8        &kp N9        &kp N0       &trans 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none      &kp LCTRL     &kp LALT      &kp LGUI       &kp LSHFT     &none                    &none       &kp RSHFT      &kp RGUI     &kp LALT       &kp RCTRL     &none 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none       &none          &none        &none          &none         &none                   &none          &none         &none         &none        &none        &none 
//╰────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ╰──────╯ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴────────╯
                                            &none        &trans         &trans                    &trans         &trans        &none      
//                                     ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯                                           
         >;
      };
      symb {
         bindings = <
//╭────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────╮
 &kp LC(TAB) &kp EXCL        &kp AT      &kp POUND     &kp DLLR      &kp PRCNT                 &kp CARET      &kp AMPS     &kp ASTRK     &kp LPAR      &kp RPAR    &trans 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none      &kp LCTRL     &kp LALT      &kp LGUI      &kp LSHFT       &none                   &kp GRAVE      &kp LBKT     &kp RBKT      &kp MINUS     &kp EQUAL  &kp BSLH    
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none       &none        &kp LG(X)     &kp LG(C)     &kp LG(V)       &none                   &kp TILDE      &kp LBRC     &kp RBRC      &kp UNDER     &kp PLUS   &kp PIPE  
//╰────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ╰──────╯ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴────────╯
                                           &trans         &none         &none                    &none         &none        &none        
//                                     ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯                                           
         >;
      };
      sys {
         bindings = <
//╭────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────╮
   &none       &none          &none        &none          &none         &none                    &none         &none         &none         &none         &none       &none 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none       &none          &none        &none          &none         &none                    &none         &none         &none         &none         &none       &none 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE                  &none         &none         &none         &none         &none       &none 
//╰────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ╰──────╯ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴────────╯
                                            &none         &none        &none                     &none         &none         &trans        
//                                     ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯                                           
         >;
      };
      navi {
         bindings = <
//╭────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────╮
   &none       &none          &none        &none          &none         &none                   &none          &none         &none         &none        &none        &none 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none       &kp LCTRL     &kp LALT      &kp LGUI       &kp LSHFT     &none                   &kp LEFT      &kp DOWN      &kp UP       &kp RIGHT       &none       &none 
//├────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────┤
   &none      &none          &kp HOME    &kp PG_UP     &kp PG_DN       &kp END                   &none         &none         &none         &none        &none       &none 
//╰────────┼─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ╰──────╯ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴────────╯
                                            &none        &none        &trans                     &none         &none        &none        
//                                     ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯                                           
         >;
      };
   };
        
};
